.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    var(--color-base-300) 10%,
    transparent 15%
  );
  background-size: 30px 30px;
}
